{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-">
            <div class="panel panel-success">
                <div class="panel-heading">View</div>

                <tr>
                    <th><b>Properties </b> </th><br>
                </tr>

                {% if app.user != null %}

                    {% for key, item in key %}
                        <tr>
                            <td><b>{{ key }} : </b></td><td>{{ item }}<br>

                        </tr>
                    {% endfor %}
                    <br>
                    <tr>
                        <th><b> Key Identifier</b>  </th><br>
                        <td> <i>{{ key_id }}</i></td>
                    </tr>

                    <br>
                    <br>
                    <tr>
                        <th><b> Permitted Operations </b>  </th><br>
                    </tr>
                    {% for item in operations %}
                        <tr>
                            <td>{{ item }}<br> </td>

                        </tr>
                    {% endfor %}



            </div>

            <div class="form-group">
                <div class="col-md-6 col-md-offset-0">
                    <form action='' method='post'>
                        <button type="submit" name="download" class="btn btn-primary">
                            <i class="fa fa-btn"></i>Download Public Key
                        </button><br> <br>
                    </form>

                </div>
                {% endif %}


                {% if app.user == null %}
                    <a href="/login" class="btn btn-info">Login.. >></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}


